test.py
prefect_rj_iplanrio.egg-info/
# Cursor files
.cursor/

#dbt
queries/logs/*
queries/target/*
queries/target-base/*
queries/profiles/*
queries/dev/*
queries/dbt_packages/*
queries/.user.yml
queries/package-lock.yml
queries/dbt_internal_packages/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# direnv
.direnv/

# Sphinx documentation
docs/_build/

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ruff stuff:
.ruff_cache/
data/

# Redis
dump.rdb