name: Deploy Prefect flows (staging)

on:
  push:
    branches:
      - staging/*
    paths:
      - pipelines/**
  workflow_dispatch:

jobs:
  deploy-prefect-staging-flows:
    name: Deploy Prefect staging flows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy Prefect flows
        uses: ./.github/actions/deploy-prefect-flows
        with:
          environment: staging
          pipelines_path: ./pipelines
          prefect_api_url: https://prefect.squirrel-regulus.ts.net/api
          ts_tags: tag:prefect-cicd
          ts_oauth_client_id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts_oauth_secret: ${{ secrets.TS_OAUTH_SECRET }}
          gh_token: ${{ secrets.GH_TOKEN }}
          log_level: ${{ vars.LOG_LEVEL }}
